a.navbar-brand {
  color: #fff;
  font-style: italic;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
}

a.navbar-brand:hover {
  color: #fff;
}

img.logo {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
}

div.containerBtn .btn {
  margin-left: 10px;
}

a {
  color: #fff;
  font-size: 18px;
  font-style: italic;
}

a:hover {
  color: #fff000;
}